<form role="form">
    <div class="modal-header">
        <h4 class='modal-title'></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
    </div>
    <div class="modal-body">
        <input type='hidden' name='idmodalidade'>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for='modalidade'>Modalidade</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-file"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='modalidade' name='modalidade'
                        placeholder='Digite o nome da modalidade' maxlength="100" required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for="edital">Edital</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-file-invoice"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='edital' name='edital'
                        placeholder='Digite o Edital da modalidade' maxlength="100" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for='prazo'>Prazo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    <input class='form-control' type='datetime-local' id='prazo' name='prazo' required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for="vagas">Vagas</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    <input class='form-control' type='number' id='vagas' name='vagas'
                        placeholder='Digite as vagas da modalidade' required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <buttons>
            <button class="btn btn-success hvr-grow" type="submit">
                <i class="fas fa-save"></i>
                Salvar
            </button>
            <button class="btn btn-danger hvr-grow" id="btn-excluir" type="button">
                <i class="fas fa-trash-alt"></i>
                Excluir
            </button>
        </buttons>
        <alert class='lead'></alert>
    </div>
</form>

<script src='js/modalidade-form.js'></script>